<div class="row-fluid">
	<div class="span12">
	<table class="table table-striped">
		<thead>
			<tr>
				<th></th>
				<th>Module Name</th>
				<th>Status</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
		<% _.each(context.modules, function(module){ %>
		<tr id="<%=module.name%>_module" class="module">
			<td><button type="button" class="btn btn-mini"><i class="icon-refresh"></i></button></td>
			<td><%=module.name%></td>
			<td class="module_status">
				<%if(module.status==context.moduleStatus.STARTED){%>
					<span class="badge badge-success">Running</span>
				<%}%>
				<%if(module.status==context.moduleStatus.STOPPED){%>
					<span class="badge badge-important">Stopped</span>
				<%}%>
			</td>
			<td class="module_triggers">
				<%if(module.status==context.moduleStatus.STARTED){%>
					<button type="button" class="btn btn-mini" onclick="now.stopModule('<%=module.name%>')"><i class="icon-stop"></i> Stop</button>
					<button type="button" class="btn btn-mini" onclick="now.restartModule('<%=module.name%>')"><i class="icon-repeat"></i> Restart</button>
				<%}%>
				<%if(module.status==context.moduleStatus.STOPPED){%>
					<button type="button" class="btn btn-mini start_trigger" onclick="now.startModule('<%=module.name%>')"><i class="icon-play"></i> Start</button>
				<%}%>
			</td>
		</tr>
		<% }) %>
		</tbody>
	</table>
	</div>
</div>
<div class="started_buttons_hidden" style="display:none">
<button type="button" class="btn btn-mini" onclick="now.stopModule('$module_name')"><i class="icon-stop"></i> Stop</button>
<button type="button" class="btn btn-mini" onclick="now.restartModule('$module_name')"><i class="icon-repeat"></i> Restart</button>
</div>
<div class="stopped_buttons_hidden" style="display:none">
<button type="button" class="btn btn-mini start_trigger" onclick="now.startModule('$module_name')"><i class="icon-play"></i> Start</button>
</div>